/************************* TAG SELECTORS *************************/

body {
  color: #40514E;
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem; /* 90px */
  margin: 50px auto 0;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem; /* 40px */
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #00888D;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #40514E;
}

p {
  line-height: 2;
}

hr {
  border: dotted lightgrey 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 4%;
}

/************************* CLASS SELECTORS *************************/

.top-container {
  background-color: #EAF6F6;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding-top: 50px;
}

.skill-row {
  margin: 100px auto;
  text-align: justify;
  width: 45%;
}

.pro {
  text-decoration: underline;
}

.intro {
  margin: auto;
  width: 30%;
}

.contact-message {
  margin: 40px auto 60px;
  width: 30%;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.875rem; /* 14px */
  padding-top: 20px;
  margin: auto;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.code-img, .talk-img {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.puzzle-img {
  float: right;
  margin-left: 30px;
  width: 25%;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding: 10px 20px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  color: white;
}

.footer-link {
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
}

.footer-link:hover {
  color: #EAF6F6;
}

/************************* MOBILE LAYOUT *************************/
@media only screen and (max-width: 600px) {
  body {
    font-size: 1.125rem; /* 18px */
  }

  h1 {
    font-size: 3.5rem; /* 56px */
  }

  h2 {
    font-size: 1.75rem; /* 28px */
    padding: 0;
  }

  h3 {
    font-size: 1.25rem; /* 20px */
    line-height: 2;
  }

  hr {
    margin: 50px auto;
  }

  .skill-row {
    text-align: left;
    margin: 50px auto;
  }

  .code-img, .puzzle-img, .talk-img {
    margin: 20px 0;
    width: 90%;
    float: none;
  }

  .mountain-img, .top-cloud, .bottom-cloud {
    display: none;
  }

  .top-container {
    padding: 80px 0;
  }

  .middle-container {
    margin-top: 50px;
  }

  .bottom-container {
    padding-top: 35px;
  }
}
